# Block ALL access to this directory and its files
<IfModule mod_authz_core.c>
# Apache 2.4+
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
# Apache 2.2 and earlier
    Deny from all
</IfModule>
