/**************************/
/** main **/
/**************************/
html, body {
      width:  100%;
      height: 100%;
      overflow: hidden;
      padding: 0;
      margin:  0;
      color: #cacbce;
      background-color: #333333 !important;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/**************************/
/** Navigation **/
/**************************/
.nav {
      background-color: #4f5b93;
      background-color: #4f5b93;
      color: #dee3ff;
}

.nav a,
.nav .slot-logo {
      color: white;
      text-decoration: none;
      
}

.nav .slot-logo {
      font-size: 1.15em;
      font-weight: bold;
      font-style: italic;
}

.nav .slot-logo a:hover {
      color: white;
}

.nav .slot-logo a:active,
.nav .slot-logo .active {
      background-color: #475284 !important;
}


/**************************/
/** Main/Article **/
/**************************/
article a {
      color: #87b7e7;
}

article a:hover {
      color: #FF3E00; /*#92a9c0;*/
}

article h1,
article h2, 
article h3, 
article h4, 
article h5, 
article h6 {
      color: #e5e5e6;
}

article h1 { font-size: 1.5em  }
article h2 { font-size: 1.4em  }
article h3 { font-size: 1.3em  }
article h4 { font-size: 1.2em  }
article h5 { font-size: 1.1em  }
article h6 { font-size: 1.05em }



.defaultPadding {
      padding: 0em 1em !important;
}
.borderBox {
      border: 1px blue solid !important;
      overflow: hidden;
      border-radius: 1em !important;
      padding: 0em 1em;
}
.tableCompact {
      font-size: 1em;
}

.tableCompact THEAD TH, .tableTHEAD {
      padding-left: 0;
      font-style:   italic;
      font-weight:  900;
}
.tableCompact TBODY {
      font-size: 0.9em;
}
.tableCompact TBODY TD {
      padding: 0;
      margin:  0;
      vertical-align: top;
}
.tableCompact TBODY TD:first-child {
      text-wrap: no-wrap;
      padding-right: 1em;
}
.tableCompact INPUT, 
.tableCompact BUTTON {
      padding: 0;
      margin: 0;
      height: 1em;
      font-size: 1em;
      height: 1.75em;
}


.td33 {
      width: 33%;
      max-width: 33%;
}
.td50 {
      width: 50%;
      max-width: 50%;
}

.flexRow,
.zpFlexRow {
      display: flex;
      flex-direction: row;
}

.routeBar {
      background-color: navy;
      color: grey;
      
      padding: 0.25em 1em;
      margin:  0;
      margin-bottom:  1.25em;
}

.positioningParent {
      position: relative;
}
.positioningChild {
      position: absolute;
}


.layoutApp_off {
      max-width:850px; 
      margin:auto;
}

BUTTON {
      padding-left:  0.5em;
      padding-right: 0.5em;
}

INPUT {
      padding: 0;
      margin:  0;
      max-height: 1.5em;
}